
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acompanhe seu pedido | Desembarca</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'loja/responsivo.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-m7IrkHDjD38BfR2EzUONCqK+XepRkMN+OjQ8biFnYqHzZQHqxuxhBgvkl1uw+nKMaTn7S5n9EZyB7F+55x9Zjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <!-- Cabeçalho -->
  <header class="cabecalhoP">
    <a href="index.html">
      <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="Logo Desembarca" class="logo-topo">
    </a>
    <nav class="menu01">
      <ul class="links-topo">
        <li><a href="#">Ajuda</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'cadastro' %}">Junte-se a nós</a></li>
        <li><a href="{% url 'login' %}">Entrar</a></li>
        <li><a href="{% url 'produtos' %}">Produtos</a></li>
        <li><a href="{% url 'peca' %}">Peças Promocionais</a></li>
      </ul>
    </nav>
  </header>

  <!-- Acompanhamento de Pedido -->
  <div class="tracking-container" id="tracking">
    <!-- Etapas são inseridas dinamicamente com JS -->
</div>

  <!-- Rodapé -->
  <footer class="footer">
    <div class="footer-container">
      <div class="logo">
        <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="Logo Desembarca" />
      </div>
      <nav class="footer-links">
        <a href="#sobre">Sobre a Desembarca</a>
        <a href="#ajuda">Ajuda</a>
      </nav>
      <div class="social-media">
        <p>Redes Sociais</p>
        <div class="icons">
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </footer>

<script src="{% static 'loja/script.js' %}"></script>
<!-- <script src="acompanhamento.js"></script> -->
</body>
</html>