{% load static %}
<link rel="stylesheet" href="{% static 'loja/style.css' %}">
<script src="{% static 'loja/script.js' %}"></script>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desembarca</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
     <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css' %}">
</head>
<body>
    <!-- Cabeçalho superior -->
    <header class="cabecalhoP">
        <a href="index.html">
            <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="dese" class="logo-topo">
        </a>
        <nav class="menu01">
            <ul class="links-topo">
                <li><a href="{% url 'acompanhamento' %}">Acompanhe seu pedido</a></li>
        <li><a href="#">Ajuda</a></li>
        <li><a href="{% url 'cadastro' %}">Junte-se a nós</a></li>
        <li><a href="{% url 'login' %}">Entrar</a></li>
        <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="principalCadastro">
        <section class="cadastroL">
            <h3 class="cadastrarrL">Cadastrar</h3>
            
            <input type="email" name="" id="" placeholder="Email">
            <input type="password" name="" id="" placeholder="Senha">
            <input type="password" name="" id="" placeholder="Confirme Senha">
            <input type="text" name="" id="" placeholder="Nome">

            <div class="esqueciS">
                <a href="">Manter o login</a>
                <a href="">Esqueceu a senha?</a>
            </div>

            <div class="butao">
                <button class="criarContaC">Criar conta</button>
            </div>

            <div class="googleFace">
                <button class="googleF">
                    <img src="{% static '/loja/imagens/google.png' %}" alt="" class="imagemBotao">
                    Conectar com Google
                </button>
                <button class="googleF">
                     <img src="{% static '/loja/imagens/facebook.png' %}" alt="" class="imagemBotao">
                      Conectar com Facebook
                </button>
            </div>
        </section>
    </main>

     
<footer class="footer">
  <div class="footer-container">
    <div class="logo">
      <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="Logo Desembarca" />
    </div>

    <nav class="footer-links">
      <a href="#sobre">Sobre a Desembarca</a>
      <a href="#ajuda">Ajuda</a>
    </nav>

    <div class="social-media">
      <p>Redes Sociais</p>
      <div class="icons">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="script.js"></script>
</body>
</html>