{% load static %}
<link rel="stylesheet" href="{% static 'loja/style.css' %}">
<script src="{% static 'loja/script.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desembarca</title>
    <link rel="stylesheet" href=" {% static 'style.css' %}">
    <link rel="stylesheet" href=" {% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css' %}">
    <link rel="stylesheet" href=" {% static '../../static/responsivo.css' %}">

</head>
<body>
    <!-- Cabeçalho superior -->
    <header class="cabecalhoP">
        <a href="index.html">
            <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="logo" class="logo-topo">
        </a>
        <nav class="menu01">
            <ul class="links-topo">
                <li><a href="{% url 'acompanhamento' %}">Acompanhe seu pedido</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="{% url 'cadastro' %}">Junte-se a nós</a></li>
                <li><a href="{% url 'login' %}">Entrar</a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="principal">
        <section class="soreNos">
            <div class="fotoSobreNos">
                <img class="gif" src= " {% static '../../static/loja/imagens/gif_desembarca.gif' %}" alt="">
            </div>

            <div class="SobreP">
                <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="" class="class">
                <p class="paragrafoP">
                    Na Desembarca, acreditamos que praticar esportes ao ar livre deve ser sinônimo de liberdade, saúde e segurança. Por isso, criamos um e-commerce especializado em roupas com proteção UV, desenvolvidas especialmente para quem vive em movimento e não abre mão de se cuidar.
                </p>
                <p class="paragrafoP">
                    Sabemos que a exposição contínua ao sol pode trazer sérios riscos à saúde da pele, como queimaduras e doenças mais graves. Pensando nisso, oferecemos uma linha completa de vestuário esportivo que combina tecnologia, conforto e estilo, protegendo você dos raios nocivos sem comprometer seu desempenho.
                </p>
                <p class="paragrafoP">
                    Seja para correr, pedalar, surfar ou fazer trilhas, aqui você encontra peças funcionais, respiráveis e com design moderno — tudo para você curtir o sol com mais proteção e tranquilidade.
                </p>
                <p class="paragrafoP">
                    Vista-se com inteligência. Pratique com segurança. Proteja quem você é.
                </p>
            </div>
        </section>

        <h2>A loja do momento</h2>

        <section class="produtosP">
           <div class="produtosV">
                <a href="produtos.html">
                <img src=" {% static 'loja/imagens/Virtualthreads (1).png' %}" alt="" class="maisVendido">
                </a>
                <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
                <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
            </div>

            <div class="produtosV">
                <a href="produtos.html">
                <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="" class="maisVendido">
                </a>
                  <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
                <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
            </div>

                <div class="produtosV">
                <a href="produtos.html">
                <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="" class="maisVendido">
                </a>
                 <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
                <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
            </div>

            <div class="produtosV">
                <a href="produtos.html">
                <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="" class="maisVendido">
                </a>
                 <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
                <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
            </div>
        </section>
    </main>

   
    
 
<footer class="footer">
  <div class="footer-container">
    <div class="logo">
      <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="Logo Desembarca" />
    </div>

    <nav class="footer-links">
      <a href="#sobre">Sobre a Desembarca</a>
      <a href="#ajuda">Ajuda</a>
    </nav>

    <div class="social-media">
      <p>Redes Sociais</p>
      <div class="icons">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="{% static '../../../../static/script.js' %}"></script>
</body>
</html>
