{% load static %}
<link rel="stylesheet" href="{% static 'loja/style.css' %}">
<script src="{% static 'loja/script.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desembarca</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <!-- Cabeçalho superior -->
    <header class="cabecalhoP">
        <a href="index.html">
            <img src="imagens/Logo Desembarca com Âncora.png" alt="dese" class="logo-topo">
        </a>
        <nav class="menu01">
            <ul class="links-topo">
                <li><a href="acompanhamento.html">Acompanhe seu pedido</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="cadastro.html">Junte-se a nós</a></li>
                <li><a href="login.html">Entrar</a></li>
            </ul>
        </nav>
    </header>

    <main class="lojaP">
        <div class="titulo">
            <img src="imagens/Logo Desembarca com Âncora.png" alt="">
            <h3 class="loja">A LOJA DO MOMENTO</h3>
        </div>
      
       <section class="paginaP">

    <div class="lojaV">
      <a href="peca.html">
        <img src="imagens/Virtualthreads (2).png" alt="Notebook gamer" class="maisVendido">
        </a>
         <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
  
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="Mouse Redragon" class="maisVendido">
          <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (3).png" alt="Fone gamer" class="maisVendido">
         <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="Teclado gamer" class="maisVendido">
          <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.6</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="Cadeira gamer" class="maisVendido">
      <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★★ <span class="nota">5.0</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="Monitor 144Hz" class="maisVendido">
        <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.7</span></p>
    </div>

    <div class="lojaV">
       
        <img src="imagens/Virtualthreads (1).png" alt="Placa de vídeo RTX" class="maisVendido">
         <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★★ <span class="nota">4.9</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="Processador Ryzen" class="maisVendido">
          <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="SSD 1TB" class="maisVendido">
        <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="SSD 1TB" class="maisVendido">
         <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="SSD 1TB" class="maisVendido">
     <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="imagens/Virtualthreads (1).png" alt="SSD 1TB" class="maisVendido">
        <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
 
</div>
</section>


 
<footer class="footer">
  <div class="footer-container">
    <div class="logo">
      <img src="imagens/Logo Desembarca com Âncora.png" alt="Logo Desembarca" />
    </div>

    <nav class="footer-links">
      <a href="#sobre">Sobre a Desembarca</a>
      <a href="#ajuda">Ajuda</a>
    </nav>

    <div class="social-media">
      <p>Redes Sociais</p>
      <div class="icons">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="script.js"></script>
</body>
</html>