{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desembarca</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-m7IrkHDjD38BfR2EzUONCqK+XepRkMN+OjQ8biFnYqHzZQHqxuxhBgvkl1uw+nKMaTn7S5n9EZyB7F+55x9Zjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Cabeçalho superior -->
    <header class="cabecalhoP">
        <a href="index.html">
            <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="dese" class="logo-topo">
        </a>
        <nav class="menu01">
            <ul class="links-topo">
                <li><a href="{% url 'acompanhamento' %}">Acompanhe seu pedido</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="{% url 'cadastro' %}">Junte-se a nós</a></li>
                <li><a href="{% url 'login' %}">Entrar</a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="lojaP">
        <div class="titulo">
            <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="">
            <h3 class="loja">A LOJA DO MOMENTO</h3>
        </div>

       <section class="paginaP">

    <div class="lojaV">
      <a href="peca.html">
        <img src="{% static 'loja/imagens/Virtualthreads (2).png' %}" alt="Notebook gamer" class="maisVendido">
        </a>
         <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>

    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="Mouse Redragon" class="maisVendido">
          <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (3).png' %}" alt="Fone gamer" class="maisVendido">
         <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="Teclado gamer" class="maisVendido">
          <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.6</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="Cadeira gamer" class="maisVendido">
      <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★★ <span class="nota">5.0</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="Monitor 144Hz" class="maisVendido">
        <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.7</span></p>
    </div>

    <div class="lojaV">

        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="Placa de vídeo RTX" class="maisVendido">
         <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★★ <span class="nota">4.9</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="Processador Ryzen" class="maisVendido">
          <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="SSD 1TB" class="maisVendido">
        <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="SSD 1TB" class="maisVendido">
         <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="SSD 1TB" class="maisVendido">
     <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>
    </div>

    <div class="lojaV">
        <img src="{% static 'loja/imagens/Virtualthreads (1).png' %}" alt="SSD 1TB" class="maisVendido">
        <h3>Camisa Oversize Desembarca</h3>
                <p>R$ 200,99 no Pix <s>220,99</s> <span>10% off</span></p>
        <p class="estrelas">★★★★ <span class="nota">4.8</span></p>

</div>
</section>



<footer class="footer">
  <div class="footer-container">
    <div class="logo">
      <img src="{% static 'loja/imagens/logo_desembarca_ancora.png' %}" alt="Logo Desembarca" />
    </div>

    <nav class="footer-links">
      <a href="#sobre">Sobre a Desembarca</a>
      <a href="#ajuda">Ajuda</a>
    </nav>

    <div class="social-media">
      <p>Redes Sociais</p>
      <div class="icons">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="{% static '../../../../static/script.js' %}"></script>
</body>
</html>